.header-container {
    position: sticky;
    top: 0px;
    z-index: 100;
    height: 56px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(229, 231, 235);
    padding-inline: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-section {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .logo {
            width: 28px;
            height: 28px;
        }

        .app-name {
            font-size: 17px;
            font-weight: 700;
        }
    }

    .user-information-section {
        display: flex;
        align-items: center;
        gap: 24px;

        .notification-icon {
            width: 28px;
            height: 28px;
        }

        .user-profile {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .user-name {
            font-size: 14px;
            font-weight: 500;
        }

        .dropdown-icon {
            width: 12px;
            height: 12px;
            margin-right: 12px;
        }
    }
}